body {
  padding: 20px;
}

img {
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 2rem;
}

.emoji-title {
  font-size: 72px;
  margin-top: 22px;
  color: #A4C639;
}

.emoji-kotlin {
  font-size: 72px;
  margin-top: 22px;
  color: #3BAFDA;
}

pre {
  background-color: #282c34;
  padding: 15px;
}

.aside {
  position: relative;
  padding: 16px;
  margin: 0 32px;
}
.idea {
  background-color: #FFF9C4;
}
.aside p.aside-title {
  font-weight: bold;
  margin-bottom: 0;
}
.aside p {
  font-size: 0.8em;
}
.aside p:last-child {
  margin-bottom: 0;
}
